<section class='grid_container'>
  <div class='card_container'>
    <div class='user-info'>
      <p><%= link_to @current_user.name, @current_user, class: "user-name" %></p>
    </div>
  </div>
</section>
