<section class='grid_container'>
    <div class='card_container'>
      <div class='user-info'>
        <%= link_to "See all products", user_products_url(@user.id), class: "create_button" %>
      </div>
    </div>
</section>
