<%= form_tag(search_products_path, method: :get, remote: true, id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Products...", id: "search-bar" %>
  <%= submit_tag "Search" %>
<% end %>

<h1>Products</h1>

<div id="products-list-container">
  <%= render partial: "products_list", locals: { products: @products } %>
</div>
